{% extends "master.html" %}

{% block header %}
<style>
    .card.medium .card-content{
        padding-top: 0px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col s12 m6 l4">
            <div class="card medium blue-grey darken-1">
                <div class="card-image">
                    <img src="{{product.img}}">
                </div>
                <div class="card-content">
                    <h5>{{product.title}}</h5>
                    <p class = "align-left"><b>${{product.price}} MXN</b></p>
                </div>
                <div class="card-action">
                    <a href="/checkout" class = "btn black"><i class ="material-icons left">shopping_cart</i> Agregar</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}